/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application {
	skinClass: ClassReference("org.bigbluebutton.clientcheck.view.skins.CustomApplicationSkin");
}

.controlBarLabelStyle {
	fontWeight: bold;
	fontSize: 15;
	fontFamily: Arial;
	color: #e1e2e5;
	textAlign: center;
}

.borderContainerStyle {
	verticalCenter: 0; 
	horizontalCenter: 0;
}

.windowTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}

.errorLabelStyle {
	fontFamily: Arial;
	fontSize: 12;
}

.checkListStyle {
	borderStyle: none;
	borderAlpha: 0;
	borderThickness: 0;
	contentBackgroundAlpha : 0;
}

.checkListItemStyle {
	paddingTop: 25;
	fontFamily: Arial;
	fontSize: 17.5;
	fontWeight: bold;
}

.clientCheckResultStyle {
	backgroundColor: #737373;
	borderStyle: none;
	borderAlpha: 0;
	borderThickness: 0;
	cornerRadius: 6;
	paddingTop: 100;
	horizontalAlign: center;
}

.TextResultTitleStyle {
	paddingBottom: 20;
	color: #f2f2f2;
	textAlign: center;
	fontFamily: Arial;
	fontSize: 27;
	fontWeight: bold;
}

.TextResultDescriptionStyle {
	paddingLeft: 80;
	paddingRight: 80;
	textAlign: center;
	color: #f2f2f2;
	fontFamily: Arial;
	fontSize: 18;
	fontWeight: bold;
}

.detailedInformationSeparatorStyle {
	strokeColor: #737373;
	shadowColor: #737373;
	strokeWidth: 2;
}

.detailedInformationTitleLabelStyle {
	paddingTop: 14;
	paddingLeft: 16;
	fontFamily: Arial;
	fontSize: 23;
	fontWeight: bold;
}

.detailedInformationSubtitleLabelStyle {
	paddingTop: 15;
	paddingLeft: 16;
	fontFamily: Arial;
	fontSize: 17;
}

.checkListItemResultStyle {
	paddingTop: 20;
	paddingLeft: 16;
	fontFamily: Arial;
	fontSize: 18;
	fontWeight: bold;
}